<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <% include partials/head %>
</head>
<body>
  <header><% include partials/header %></header>
  <h1>Listado de Procedimientos Administrativos Pregrado 2018</h1>
  <div class="list-group">
      <% listadoRequisitos.forEach(function(listadoRequisitos) { %>
        <a href="#" class="list-group-item"><%= listadoRequisitos.nombre %></a>
      <% }) %>
    </div>

  <footer><% include partials/footer %></footer>
  
</body>
</html>