<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Viktor-UJCM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>

<body>
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <div>
                <h5 class="card-panel lime lighten-3">Registro Viktor UJCM</h5>
            </div>

            <form action="/webviews/save" method="GET" name="myForm">
                <div class="form-group">
                    <div class="form-group">
                    </div>
                    <div class="form-group">

                        <div class="col-s12">
                            <h6>Selecciona tu Escuela Profesional / Posgrado:</h6>
                        </div>
                        <select class="form-control form-control-lg" name="Escuela" id="Escuela">
                            <option name="carrera" disabled selected>Escuela Profesional / Posgrado</option>
                            <option name="carrera" disabled>Pregrado</option>
                            <option name="carrera" value="Derecho">Derecho</option>
                            <option name="carrera" value="Contabilidad">Contabilidad</option>
                            <option name="carrera" value="Ingenieria Comercial">Ingeniería Comercial</option>
                            <option name="carrera" value="Ciencias Administrativas y Marketing Estratégico">Ciencias Administrativas y Marketing Estratégico</option>
                            <option name="carrera" value="Educacion Inicial">Educación Inicial</option>
                            <option name="carrera" value="Educacion Fisica">Educación Física</option>
                            <option name="carrera" value="Psicologia">Psicología</option>
                            <option name="carrera" value="Ingenieria de Sistemas e Informatica">Ingeniería de Sistemas e Informática</option>
                            <option name="carrera" value="Programa de Complementacion Academica">Programa de Complementación Académica</option>
                            <option name="carrera" disabled>Posgrado</option>
                            <option name="carrera" value="Maestria">Maestría</option>
                            <option name="carrera" value="Doctorado">Doctorado</option>
                            <option name="carrera" value="Segunda Especialidad">Segunda Especialidad</option>
                          </select>
                    </div>
                    <input type="hidden" name="psid" id="psid">
                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Código de Estudiante:</h6>
                        </div>
                        <input type="text" class="form-control" name="codigo" id="pwd" placeholder="Si no recuerdas tu código puedes colocarlo despues">
                    </div>

                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Nombres:</h6>
                        </div>
                        <input type="text" class="form-control" required name="nombres" id="username" placeholder="Ingresa tus nombres">
                    </div>
                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Apellidos</h6>
                        </div>
                        <input type="text" class="form-control" required name="apellidos" id="username" placeholder="Ingresa tus apellidos">
                    </div>
                    <div class="form-group">
                        <div class="col-s12">
                            <h6>DNI:</h6>
                        </div>
                        <input type="text" class="form-control" required name="dni" id="username" placeholder="Ingresa tu DNI">
                    </div>

                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Email:</h6>
                        </div>
                        <input type="text" class="form-control" required name="email" id="email" placeholder="ejemplo@gmail.com">
                    </div>
                    <div class="form-group">

                        <div class="col-s12">
                            <h6>¿Quieres que te informe de los eventos en la UJCM Filial Tacna?:</h6>
                        </div>
                        <p>
                            <label>
                                  <input name="broadcast" value="1" type="radio" checked />
                                  <span>Sí</span>
                                  <input name="broadcast" value="0" type="radio" />
                                  <span>No</span>
                                </label>
                        </p>

                    </div>



                    <div class="form-group" class="btn waves-effect waves light">
                        <button id="submitButton" type="submit" value="submit" class="btn btn-success btn-lg">Enviar</button>
                    </div>
            </form>

            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>

        <!--Limpiar campos luego de submitting-->
        <script type="text/javascript">
            function submitForm() {

                document.forms["myForm"].submit(); //first submit
                document.forms["myForm"].reset(); //and then reset the form values
            }
            //webview

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));

            window.extAsyncInit = function() {
                MessengerExtensions.getContext('2088363134567524',
                    function success(thread_context) {
                        document.getElementById('psid').value = thread_context.psid;
                    },
                    function error(err) {
                        // error
                    }
                );
            };

            document.getElementById('submitButton').addEventListener('click', function() {
                MessengerExtensions.requestCloseBrowser(function success() {
                    // webview closed
                }, function error(err) {
                    // an error occurred
                });
            })
        </script>
</body>

</html>