<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Viktor-UJCM</title>


    <!-- BOOTSTRAP -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div class="container" id="registration-form">
        <h1>Probando WEbview</h1>
        <form role="form">
            <div class="form-group">
                <label for="ejemplo_email_1">Email</label>
                <input type="email" class="form-control" id="ejemplo_email_1" placeholder="Introduce tu email">
            </div>
            <div class="form-group">
                <label for="ejemplo_password_1">Contraseña</label>
                <input type="password" class="form-control" id="ejemplo_password_1" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                <input type="file" id="ejemplo_archivo_1">
                <p class="help-block">Ejemplo de texto de ayuda.</p>
            </div>
            <div class="checkbox">
                <label>
                        <input type="checkbox"> Activa esta casilla
                      </label>
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>

    <!--Limpiar campos luego de submitting-->
    <script type="text/javascript">
        function submitForm() {

            document.forms["myForm"].submit(); //first submit
            document.forms["myForm"].reset(); //and then reset the form values
        }
        //webview

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = function() {
            // the Messenger Extensions JS SDK is done loading 
        };
    </script>
</body>

</html>