<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Estoy probando EJS !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1>Pagina de estudiantesssssssssssss!</h1>
    <h2>Solicitaste el nombre del estudiante: <%=name%></h2>
    <p>Parece que estas pidiendo esta info:<%=name%> </p>
   
</body>
</html>